<% @body_id = 'privacy-policy' %>

<div class="privacy-policy">
  <h1 class="text-center"><%= Spree.t('privacy_policy.header') %></h1>
  <p><%= Spree.t('privacy_policy.header_text_part1') %></p>
  <p><%= Spree.t('privacy_policy.header_text_part2') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title1') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text1') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title2') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text2_part1') %></p>
  <p><%= Spree.t('privacy_policy.sub_text2_part2') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title3') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text3') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title4') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text4') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title5') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text5') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title6') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text6_part1') %></p>
  <p><%= Spree.t('privacy_policy.sub_text6_part2') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title7') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text7_part1') %></p>
  <p><%= Spree.t('privacy_policy.sub_text7_part2') %></p>
  <p><%= Spree.t('privacy_policy.sub_text7_part3') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title8') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text8_part1') %></p>
  <p><%= Spree.t('privacy_policy.sub_text8_part2') %></p>
  <ul>
    <li>
      <strong><%= Spree.t('privacy_policy.sub_text8_part2_inner_title1') %></strong>
      <span>&nbsp;-&nbsp;</span>
      <span><%= Spree.t('privacy_policy.sub_text8_part2_inner_text1') %></span>
    </li>
    <li>
      <strong><%= Spree.t('privacy_policy.sub_text8_part2_inner_title2') %></strong>
      <span>&nbsp;-&nbsp;</span>
      <span><%= Spree.t('privacy_policy.sub_text8_part2_inner_text2') %></span>
    </li>
    <li>
      <strong><%= Spree.t('privacy_policy.sub_text8_part2_inner_title3') %></strong>
      <span>&nbsp;-&nbsp;</span>
      <span><%= Spree.t('privacy_policy.sub_text8_part2_inner_text3') %></span>
    </li>
    <li>
      <strong><%= Spree.t('privacy_policy.sub_text8_part2_inner_title4') %></strong>
      <span>&nbsp;-&nbsp;</span>
      <span><%= Spree.t('privacy_policy.sub_text8_part2_inner_text4') %></span>
    </li>
    <li>
      <strong><%= Spree.t('privacy_policy.sub_text8_part2_inner_title5') %></strong>
      <span>&nbsp;-&nbsp;</span>
      <span><%= Spree.t('privacy_policy.sub_text8_part2_inner_text5') %></span>
    </li>
  </ul>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title9') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text9') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title10') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text10_part1') %></p>
  <p><%= Spree.t('privacy_policy.sub_text10_part2') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title11') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text11_part1') %></p>
  <p><%= Spree.t('privacy_policy.sub_text11_part2') %></p>
  <p><%= Spree.t('privacy_policy.sub_text11_part3') %></p>
  <h3 class="text-center"><%= Spree.t('privacy_policy.sub_title12') %></h3>
  <p><%= Spree.t('privacy_policy.sub_text12') %></p>
</div>